@model TodotaskWeb.Models.ViewModels.NoteViewModel
@{
    ViewData["Title"] = "Update Task";
}
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Update Task</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-action="Edit" asp-controller="Note" class="row">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="UserId" />

            <div class="border p-3">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Title" class="form-control border-1" />
                    <label asp-for="Title" class="ms-2"></label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <textarea asp-for="Description" rows="10" class="form-control border-1 "></textarea>
                    <label asp-for="Description" class="ms-2"></label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <label class="form-label col-md-3">Choose Background Color</label>
                        <div class="col-md-2">
                            <input asp-for="Color" type="color" class="form-control border-0" style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Note" asp-action="Index" class="btn btn-outline-primary border  form-control">
                            <i class="bi bi-arrow-left-square"></i>
                            Back to List
                        </a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}