@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-success mt-5">Welcome To To-Do list Application</h1>
    <p class="mt-1">
        Stay organized and boost productivity with our intuitive To-Do List Application.
        Easily create, manage, and track your tasks to ensure nothing is missed.
    </p>
</div>